* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  // height: 100%;
  // min-width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
  border-radius: 50%;
  margin-left: 10px;
  // background-image: image-url('search.png');
  // background-size: 3.3vh;
  // background-repeat: no-repeat;
  background-position: center;
  outline: none;
  // display: none;
}

.fa {
  color: white;

}

.search-icon {
  width: 100%;
  text-align: center;
  vertical-align: bottom;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 2vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 1vw;
  color: #3ccace;
  text-decoration: none;
  border: 1px solid #3ccace;
  border-radius: 8px;
  padding: 10px;
  transition: 0.2s;
}

.user-nickname:hover {
  color: white;
  background-color: #3ccace;
}



.logout {
  text-decoration: none;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 8px;
  padding: 10px;
  transition: 0.2s;
}

.logout:hover {
  opacity: 0.6;
}

.login {
  text-decoration: none;
  line-height: 24px;
  margin-right: 1vw;
  color: #3ccace;
  border: 1px solid #3ccace;
  border-radius: 8px;
  padding: 10px;
  transition: 0.4s;
}

.login:hover {
  background-color: #3ccace;
  color: white;
}

.sign-up {
  text-decoration: none;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 8px;
  padding: 10px;
}

.sign-up:hover {
  opacity: 0.6;
}

.fa-search::before {
  color: white;
  font-size: 23px;
}
