.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.login-form-wrap{
  width: 60%;
  height: 100%;
 }

.contents-top {
  width: 100%;
  min-width: 360px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.or {
  font-size: 16px;
}

.login-form-header{
  padding-top: 50px;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 22px;
}

.login-form-text-wrap {
  width: 100%;
  height: 20%;
  margin-top: 30px;
}
